In [14]:
emptytu=()
print(emptytu)
print(type(emptytu))

()
<class 'tuple'>

In [ ]:
del list
lis = list()
print(type(lis))

In [30]:
num=tuple([1,2,3,4,5])
num

(1, 2, 3, 4, 5)

In [31]:
mix=(1,'hello',3.12,True)
print(mix)

(1, 'hello', 3.12, True)

In [32]:
num

(1, 2, 3, 4, 5)

In [33]:
num[2]

3

In [34]:
mix

(1, 'hello', 3.12, True)

In [35]:
concat=num + mix
print(concat)

(1, 2, 3, 4, 5, 1, 'hello', 3.12, True)

In [36]:
mix*3

(1, 'hello', 3.12, True, 1, 'hello', 3.12, True, 1, 'hello', 3.12, True)

In [37]:
# tuple are inmutable element cannot change once assigned

In [38]:
l=[1,2,3,4,5]

print(l)
l[2]='apple'
print(l)

# list

[1, 2, 3, 4, 5]
[1, 2, 'apple', 4, 5]

In [39]:
num[1]='hehe'

TypeError: 'tuple' object does not support item assignment

In [40]:
# l=list()
# print(type(l))

    TUPLE METHOD

In [42]:
l

[1, 2, 'apple', 4, 5]

In [45]:
print(num.count(3))
print(num.index(3))
print(type(num))

1
2
<class 'tuple'>

In [47]:
# packking

packed_t=1,'hi',2,3
print (packed_t)
print(type(packed_t))

(1, 'hi', 2, 3)
<class 'tuple'>

In [49]:
#unpacking


numb=(1,2,3,4,5,6,7,8,9)
first,*middle,last=numb
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8]
9