In [11]:
myset={1,2,3,4,5}
print(myset)

{1, 2, 3, 4, 5}

In [12]:
print(type(myset))

<class 'set'>

In [15]:
del set

In [16]:
empty = set()
print(type(empty))

<class 'set'>

In [17]:
dset=set([1,2,3,4,5])
print(dset)

{1, 2, 3, 4, 5}

In [18]:
demo=set([1,2,3,4,5,6,4,3])
print(demo)

{1, 2, 3, 4, 5, 6}

In [20]:
#basic operation

myset.add(8)
print(myset)

{1, 2, 3, 4, 5, 8}

In [21]:
#basic operation

myset.remove(8)
print(myset)

{1, 2, 3, 4, 5}

In [24]:
myset.removed(11)
print(myset)

AttributeError: 'set' object has no attribute 'removed'

In [22]:
myset.discard(11)
print(myset)

{1, 2, 3, 4, 5}

In [25]:
removed_element=myset.pop()
print(removed_element)
print(myset)

1
{2, 3, 4, 5}

In [26]:
# clear all element

myset.clear()
print(myset)

set()

In [27]:
#set membership test

myset={1,2,3,4,5}
print(3 in myset)
print(10 in myset)

True
False

In [28]:
#mathematical operation

set1={1,2,3,4}
set2={4,5,6,7,8,9}
unionset=set1.union(set2)
print(unionset)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
intersection=set1.intersection(set2)
print(intersection)

{4}

In [30]:
set1.intersection_update(set2)
print(set1)

{4}

In [33]:

set1={1,2,3,4}
set2={4,5,6,7,8,9}

print(set1.difference(set2))

{1, 2, 3}

In [34]:
#symmetric digg

print(set1.symmetric_difference(set2))

{1, 2, 3, 5, 6, 7, 8, 9}

In [36]:
set1={1,2,3}
set2={3,4,5}

print(set1.issubset(set2))

False

In [ ]:
lst=[1,2,3,4,5,6,6,7,7,8,9,9]
set(lst)

#list to set

{1, 2, 3, 4, 5, 6, 7, 8, 9}