In [1]:
import pandas as pd

In [3]:
data=[1,2,3,4,5]
series=pd.Series(data)
print(series)

print(type(series))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
data={'a':1,'b':2,'c':3}

series_dict=pd.Series(data)

print(data)

{'a': 1, 'b': 2, 'c': 3}

In [7]:
data=[10,20,30]

index=['a','b','c']

pd.Series(data,index=index)

a    10
b    20
c    30
dtype: int64

In [8]:
# data frame
data={
    "name":['krish' ,'osma','rex'],
    'age':[26,44,55],
    'City':['la','usa','uk']
}

df=pd.DataFrame(data)

print(df)

    name  age City
0  krish   26   la
1   osma   44  usa
2    rex   55   uk

In [9]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>