In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('car_dealership_data_50.csv')

In [3]:
df.head()

,Car Name,Year,Present Price,Kms Driven,Fuel Type,Seller Type,Transmission,Owner,Selling Price
0,Honda Civic,2016,11187.87,78889,Diesel,Individual,Manual,4,7253.97
1,Hyundai Elantra,2015,32475.10,47029,Diesel,Dealer,Automatic,3,22664.07
2,BMW 3 Series,2022,36493.03,42052,Electric,Dealer,Manual,3,29305.84
3,Kia Seltos,2014,49396.63,35913,Hybrid,Individual,Manual,4,42867.31
4,Tesla Model 3,2018,30584.39,59157,Hybrid,Dealer,Automatic,3,19486.23

In [4]:
df.tail()

,Car Name,Year,Present Price,Kms Driven,Fuel Type,Seller Type,Transmission,Owner,Selling Price
45,Subaru Impreza,2022,17122.24,32257,Petrol,Individual,Manual,2,12586.51
46,Kia Seltos,2014,14114.32,69433,Diesel,Individual,Automatic,2,10985.73
47,Volkswagen Polo,2013,45073.11,98764,Diesel,Individual,Manual,2,37363.18
48,Jeep Compass,2020,39108.87,35828,Diesel,Dealer,Manual,3,33720.40
49,Jaguar XE,2016,34152.20,73950,Hybrid,Dealer,Automatic,4,26287.54

In [5]:
df.describe()

              Year  Present Price     Kms Driven      Owner  Selling Price
count    50.000000      50.000000      50.000000  50.000000      50.000000
mean   2016.640000   30066.818200   66444.560000   2.600000   23043.763400
std       3.468576   10538.654937   27961.072991   1.142857    8560.467803
min    2012.000000   11187.870000   13076.000000   1.000000    7253.970000
25%    2014.000000   24342.005000   42363.750000   2.000000   16617.692500
50%    2016.000000   30301.925000   67072.000000   2.000000   22420.720000
75%    2019.750000   36487.320000   81889.250000   4.000000   29447.980000
max    2023.000000   49396.630000  118162.000000   4.000000   42867.310000

In [7]:
df.dtypes

Car Name          object
Year               int64
Present Price    float64
Kms Driven         int64
Fuel Type         object
Seller Type       object
Transmission      object
Owner              int64
Selling Price    float64
dtype: object

In [8]:
df.isnull()

,Car Name,Year,Present Price,Kms Driven,Fuel Type,Seller Type,Transmission,Owner,Selling Price
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False

In [9]:
df.isnull().sum()

Car Name         0
Year             0
Present Price    0
Kms Driven       0
Fuel Type        0
Seller Type      0
Transmission     0
Owner            0
Selling Price    0
dtype: int64

In [11]:
df.isnull().any(axis=1)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool

In [12]:
df_fill=df.fillna(0)

In [13]:
df.dtypes

Car Name          object
Year               int64
Present Price    float64
Kms Driven         int64
Fuel Type         object
Seller Type       object
Transmission      object
Owner              int64
Selling Price    float64
dtype: object

In [16]:
# convert data into numerial val 

df=df.rename(columns={'Seller Type':'Seller Typ'})

In [17]:
df.dtypes

Car Name          object
Year               int64
Present Price    float64
Kms Driven         int64
Fuel Type         object
Seller Typ        object
Transmission      object
Owner              int64
Selling Price    float64
dtype: object

In [19]:
# change dtype  

df['Val_new']=df['Owner'].astype(float)
df.head()

,Car Name,Year,Present Price,Kms Driven,Fuel Type,Seller Typ,Transmission,Owner,Selling Price,Val_new
0,Honda Civic,2016,11187.87,78889,Diesel,Individual,Manual,4,7253.97,4.0
1,Hyundai Elantra,2015,32475.10,47029,Diesel,Dealer,Automatic,3,22664.07,3.0
2,BMW 3 Series,2022,36493.03,42052,Electric,Dealer,Manual,3,29305.84,3.0
3,Kia Seltos,2014,49396.63,35913,Hybrid,Individual,Manual,4,42867.31,4.0
4,Tesla Model 3,2018,30584.39,59157,Hybrid,Dealer,Automatic,3,19486.23,3.0

In [21]:
df['Val_new']=df['Owner'].apply(lambda x:x*2)

In [22]:
df.describe()

,Year,Present Price,Kms Driven,Owner,Selling Price,Val_new
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,2016.640000,30066.818200,66444.560000,2.600000,23043.763400,5.200000
std,3.468576,10538.654937,27961.072991,1.142857,8560.467803,2.285714
min,2012.000000,11187.870000,13076.000000,1.000000,7253.970000,2.000000
25%,2014.000000,24342.005000,42363.750000,2.000000,16617.692500,4.000000
50%,2016.000000,30301.925000,67072.000000,2.000000,22420.720000,4.000000
75%,2019.750000,36487.320000,81889.250000,4.000000,29447.980000,8.000000
max,2023.000000,49396.630000,118162.000000,4.000000,42867.310000,8.000000

In [23]:
# data aggregation and grouping 

group=df.groupby('Owner')['Val_new'].mean()